#MainDisplay{
	margin-left: 15%;
	margin-right: 15%;
}

img {
	display: block;
	margin: auto;
}

#Menu {
	width:70px;
	background-color: lightblue;
	Width: 200px;
	float: left;
	border: 4px solid white;
	font-family:Calibri, Arial, sans-serif;
	padding:8px;
}
#Body	{
	background-color: lightgreen;
	float:right;
	border: 4px solid white;
	float: right;
	width: 25%-90%;
	font-family:Calibri, Arial, sans-serif;
	padding: 8px;
}
H1 {
	Text-align:center;
	font-family:Calibri, Arial, sans-serif;
}
html{
	background-image: url(background.png);
}