#MainDisplay{
		margin-left: 10%;
		margin-right: 10%;
}

#Menu {
	width:70px;
	background-color: lightblue;
	Width: 200px;
	float: left;
	border: 1px solid black;
}
#Body	{
	background-color: lightgreen;
	float:right;
	border: 1px solid black;
	float: right;
	width: 70%;
	margin-left: 10px;
	margin-right: 20px;
}
H1 {
	Text-align:center;
}
html{
	background-image: url(background.png);
}